:root {
  --color-background: #FAFAFA;
  --color-text: #212121;
  
  --font-family: 'Roboto', sans-serif;
  --font-size: 16px;

  --content-width: 90%;
  --content-max-width: 1280px;
  --content-padding: 2rem;
  --header-height: 64px; 
  --footer-height: 100px; 
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--color-text);
  background-color: var(--color-background);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

p, li {
  color: var(--color-text);
}

a {
  text-decoration:none;
  color: #FFC107;
  transition: color 0.3s, background-color 0.3s;
}

@media (hover: hover) {
  a:hover {
    filter: brightness(55%);
    text-decoration: underline;
  }
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: var(--header-height);
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--footer-height);
  z-index: 1000; 
}

main {
  flex: 1;
  width: var(--content-width);
  max-width: var(--content-max-width);
  margin: var(--header-height) auto var(--footer-height);
  padding: var(--content-padding);
  box-sizing: border-box;
  overflow-y: auto;
}

h1, h2, h3 {
  color: #00695C;
}

.v-toolbar { 
  display: flex; 
  flex-direction: row; 
  justify-content: space-between; 
  align-items: center; 
  padding: 0;
} 
.v-toolbar-title { 
  flex: 1; 
  padding: 1rem;
  margin:0;
} 
.v-btn { 
  margin: 0 0.5rem;
}

.centered-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Responsive two-column layout */
/* .two-column {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.two-column > .left-section,
.two-column > .right-section {
  flex: 1;
  min-width: 280px; 
}

@media (max-width: 768px) {
  .two-column {
    flex-direction: column;
  }
} */

/* Additional styles*/
/* .recipe-details {
  margin-bottom: 2rem;
}

.comments-section {
  margin-top: 2rem;
  padding-top: 1rem;
  border-top: 1px solid var(--color-header-footer);
} */
